$header-height: 40px;
$footer-height: 120px;
$content-padding: 100px;
$input-height: 25px;
$years-selector-width: 240px;
$pagination-nav-height: 60px;
$card-height: 190px;

$primary-red:  #da1e28;
$secondary-red:  #a2191f;
