@import '../../styles/variables.scss';


header.app-header {

    height: $header-height;
    padding: 0 $content-padding;

    .header-name {
        padding: 0;

        &:focus {
            border-color: transparent;
        }
    }

    .header-globar-bar {
        align-items: center;

        &_filters {
            a::after {
                border-bottom: none;
            }

            a {
                &.bx--header__menu-item--current {
                    background-color: #2c2c2c;
                }
            }
        }


        &_login {
            margin: 5px 0px;
            border-right: 1px solid white;
            border-left: 1px solid white;
        }
    }

    .header-fat-button {
        background-color: $primary-red;
        color: white;
    }

    .header-subs-button {
        padding-left: 15px;
        border-left: 1px solid white;
    }

}